<%= javascript_include_tag 'zizia/application' %>
<div id="zizia_new" class="zizia">
  <h2><span class="glyphicon glyphicon-cloud-upload"></span> Batch Import </h2>
  <% unless @antivirus_running %>
    <%= render 'service_warning', service: "antivirus" %>
  <% end %>
  <% unless @image_conversion_running %>
    <%= render 'service_warning', service: "image conversion" %>
  <% end %>
  <% unless @audiovisual_conversion_running %>
    <%= render 'service_warning', service: "media processing" %>
  <% end %>
  <%= render 'form', csv_import: @csv_import %>
</div>
