

    <%= form_with(model: csv_import, local: true, html: { multipart: true }, url: preview_csv_import_path) do |form| %>
      <div class="row">
        <div class="col-md-4">
          <%= render "error", csv_import: csv_import %>
        </div>
        <div class="col-md-4">
        </div>
      </div>
      <div class="row">

        <div class="col-md-4">
          <%= render "file_upload", form: form  %>
        </div>
        <div class="col-md-8"></div>
      </div>

      <%= form.hidden_field :manifest_cache %>
      <div class="row">
        <div class="col-md-2">
          <%= render "collection_selection", form: form %>
        </div>
        <div class="col-md-8"></div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <%= render "actions", form: form %>
        </div>
        <div class="cold-md-8"></div>
      </div>
    <% end %>
